/*This is so I can press ctrl-S instead of the save button*/
/*		var a = performance.now();
		alert('do something...');
		var b = performance.now();
		alert('It took ' + (b - a) + ' ms.');*/

body	{
	margin: 0;
}

#bigbox	{
	border: 1px solid black;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.slidingBox	{
	height: 100px;
	width: 100px;
	display: inline-block;
}

#forwardButton	{
	position: absolute;
	top: 110px;
}

#box1	{
	background-color: blue;
	position: relative;
	left: 355px;
}

#hello	{
	background-color: brown;
	display: none;
	position: relative;
}

#box2	{
	background-color: red;
	position: relative;
	left: -205px;
}

#box3	{
	background-color: green;
	position: relative;
	left: -309px;
}

#box4	{
	background-color: yellow;
	position: relative;
	left: -413px;
}

#box5	{
	background-color: purple;
	position: relative;
	left: -517px;
}

#box6	{
	background-color: violet;
	position: relative;
	left: -621px;
}

#headerGroup	{
	
}